<span>Número de Quizes: <%= n_quizes %></span><br>
<span>Número de Comentarios: <%= n_comments %></span><br>
<span>Número de Quizes con comentarios no publicados: <%= nc_quizes %></span><br>
<span>Número de Quizes con comentarios publicados:<%= c_quizes %></span><br>
<span>Número medio de comentarios por quiz: <%= med_comment %></span>